  <table class="table table-bordered border-primary ml-2" style="width: auto;">
    <thead>
        <tr>
          <th>
            {{receta.description.comensales}} comensales
            | {{receta.description.time}} | Plato {{receta.description.plateType}} |
            Dificultad {{ receta.description.dificulty }}
          </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th>
          <strong>Ingredientes para hacer {{ receta.name }}:</strong>
        </th>
      </tr>
      <tr>
        <td>
            <div *ngFor="let item of receta.description.ingredients">
              <input type="checkbox"> {{ item }}
            </div>
          </td>
      </tr>
    </tbody>
  </table>
