  <table class="table table-bordered border-primary ml-2">
    <thead>
      <th>
        <tr>
          <td> {{receta.description.comensales}} comensales
              | {{receta.description.time}} | Plato {{receta.description.plateType}} |
              Dificultad {{ receta.description.dificulty }}
          </td>
        </tr>
      </th>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th>
          <strong>Ingredientes para hacer: {{ receta.name }}</strong>
          <ul>
            <td>
              <li *ngFor="let item of receta.description.ingredients">
                <input type="checkbox"> {{ item }}
              </li>
            </td>
          </ul>
        </th>
      </tr>
    </tbody>
  </table>
